In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[7])

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[-10])

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string.index('B'))

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string.count('o'))

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string.upper())

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string.find('Bitcoin'))

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string.startswith("X"))

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string.swapcase())

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string.replace(" ",""))

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string.replace("i","btc"))

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string.split(","))

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."
my_other_string = "Poor guy!"

print(my_string+my_other_string)