In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[7])

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[-10])

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string.index('B'))

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string.count('o'))

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string.upper())

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string.find('Bitcoin'))

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string.startswith("X"))

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string.swapcase())

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string.replace(" ",""))

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string.replace("i","btc"))

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string.split(","))

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."
my_other_string = "Poor guy!"

print(my_string+my_other_string)

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string.title())

In [ ]:
my_string = "In %s, someone paid %s %s for two pizzas."

print(my_string % ("2010", "10k","Bitcoin"))

In [ ]:
my_string = "In {}, someone paid {} {} for two pizzas."

print(my_string.format("2010","10k","Bitcoin"))

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[3:7])

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[-23:-16])

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[:12])

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[-9:])

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[::-1])

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[::7])

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[10:])

In [ ]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[:-4])